{% load static %}
<!doctype html>
<html lang="ru-Ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="content">
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'account:profile' %}">Личный кабинет</a></li>
                        <li><a href="{% url 'account:logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'account:signup' %}">Зарегистрироваться</a></li>
                        <li><a href="{% url 'account:login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}

        {% endblock %}
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>